<h1>
  <%= @user.username %>
  <% if @user.blocked  %>
    <span class="badge badge-info">account closed</span>
  <% end %>
</h1>

<% if current_user && current_user.admin? %>
  <%= link_to @user.blocked ? 'open account' : 'close account', toggle_blocked_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% end %>

<p>
  <% if @user.ratings.empty? %>
    Has made no ratings.
  <% else %>
    Has made <%= @user.ratings.count %> ratings, average rating <%= @user.average_rating %>
  <% end %>
</p>

<% if @user.favorite_style %>
  <p>
    Favorite style is: <%= @user.favorite_style %>
  </p>
<% end %>

<% if @user.favorite_brewery %>
  <p>
    Favorite brewery is: <%= @user.favorite_brewery.name %>
  </p>
<% end %>


<p> Member of </p>

<ul>
  <% @user.beer_clubs.each do |club| %>
    <li> <%= link_to club.name, club %></li>
  <% end %>
</ul>

<h2>List of ratings</h2>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-danger' %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-danger' %> |
<% end %>
<%= link_to 'Back', users_path %>
