<h1>Listing ratings</h1>

<p> Number of ratings: <%= @ratings.count %><p>

<p>
  Most recent ratings
</p>

<%= render 'list', ratings: @ratings.recent %>

<p>
  Best breweries
</p>

<ul>
  <% @breweries.each do |brewery|%>
  <li> <%= link_to brewery.name, brewery %> </li>
  <% end %>
</ul>

<p>
  Best beers
</p>
<ul>
  <% @beers.each do |beer|%>
  <li> <%= link_to beer, beer %> </li>
  <% end %>
</ul>


<%= link_to('New Rating', new_rating_path) if current_user %>