<h1>Listing ratings</h1>
<% cache "ratingpage", expires_in: 1.day, skip_digest: true do %>

  <p> Number of ratings: <%= @ratings.count %><p>

  <div class="row">
    <div class="col-sm-4">
    <p>
      Best breweries
    </p>

    <%= render 'top_list', items: @breweries %>
    </div>
    <div class="col-sm-4">
    <p>
      Best beers
    </p>

    <%= render 'top_list', items: @beers %>
    </div>
    <div class="col-sm-4">
    <p>
      Best styles
    </p>

    <%= render 'top_list', items: @styles %>
    </div>
  </div>

  <p>
    Most recent ratings
  </p>

  <%= render 'list', ratings: @ratings.recent %>

  <p>
    Most active users
  </p>

  <%= render 'top_list', items: @users %>

<% end %>

<%= link_to('New Rating', new_rating_path) if current_user %>